/* Thème Saint-Valentin */
:root {
    --ecein-primary: #e84393;
    --ecein-secondary: #c0185d;
    --ecein-accent: #fff0f5;
}
.navbar-ecein { border-bottom-color: #ffc0d8 !important; }
.btn-ecein-primary { background: #e84393; }
.btn-ecein-primary:hover { background: #c0185d; }
.bg-ecein { background-color: #e84393 !important; }
